.c_faqs {
  overflow: hidden;
  @include mq(950px) {
    text-align: right;
    width: 100%;
    max-width: calculateRem(1280);
    padding: 0 calculateRem($mobileSmallSpacing);
    margin: calculateRem($desktopLargeSpacing) auto calculateRem($desktopLargeSpacing);
  }

  &_header_content {
    position: relative;
    background-color: $color_blue;
    padding: calculateRem(34) calculateRem(31) calculateRem(97);
    @include mq(950px) {
      width: 33.333%;
      margin-left: auto;
      text-align: left;
      padding: calculateRem(42) calculateRem(18) calculateRem(89) calculateRem(61);
    }
    &_wrapper {
      position: relative;
    }
  }

  &_flower {
    &--top {
      position: absolute;
      top: 42px;
      right: 470px;
    }

    &--side {
      position: absolute;
      bottom: 42px;
      right: -165px;
    }
  }

  &_wrapper {
    position: relative;
    z-index: 10;
    margin-top: calculateRem(-115);
    @include mq(950px) {
      width: 85%;
    }
  }

  &_item {
    cursor: pointer;
    @include mq(950px) {
      text-align: left;
    }
  }

  &_question {
    @include font-size(14, 17, 18, 28, 0.35, 0.42);
    @include font('proxima_nova__bold');
    background-color: $color_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    transition: height 0.2s ease-out;
    padding: calculateRem(10) calculateRem(15) calculateRem(11) calculateRem(15);
    margin-bottom: calculateRem(4);
    width: 100%;
    @include mq(950px) {
      cursor: pointer;
      margin-bottom: calculateRem(18);
    }
    &:after {
      content: '';
      position: relative;
      flex: 0 0 auto;
      width: 1rem;
      height: 1rem;
      background: url('/icon/faq-arrow-down.svg') no-repeat center;
      transition: transform 0.2s ease-out;
      .active & {
        transform: rotate(180deg);
      }
    }
  }

  &_answer {
    @include font-size(12, 17, 23, 26, 0.3, 0.42);
    @include font('proxima_nova');
    background-color: $color_offwhite_opaque;
    color: $color_greyish_brown;
    padding: calculateRem(15) calculateRem(15) calculateRem(4);
    margin-bottom: calculateRem(4);
    transition: ease 0.3s all;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    will-change: transform;

    @include mq(950px) {
      background-color: $color_offwhite;
      padding: calculateRem(22) calculateRem(54) calculateRem(21) calculateRem(22);
      margin-bottom: calculateRem(4);
    }

    &.hidden {
      display: none;
    }
  }

  .fade-in {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: both;
  }
}
