.c_body_copy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include mq(950px) {
    padding: 0 calculateRem(80);
  }
  &.text-center {
    text-align: left;
    @include mq(950px) {
      text-align: center;
    }
  }

  .c_section_header {
    // Mobile Font Size, Desktop Font Size, Mobile Line Height, Desktop Line Height, Mobile Letter Spacing, Desktop Letter Spacing
    @include font-size(18, 25, 22, 36, 5.22, 6.75);
    @include margin(small, bottom);
  }

  .c_button {
    @include margin(small, top);
  }

  &_svg {
    width: 116px;
    height: 116px;
    flex-shrink: 0;
    margin: calculateRem(22);
  }

  .c_body_copy_text {
    // Mobile Font Size, Desktop Font Size, Mobile Line Height, Desktop Line Height, Mobile Letter Spacing, Desktop Letter Spacing
    @include font-size(12, 17, 23, 26, 0.3, 0.42);
    color: $color_greyish_brown;

    p strong {
      @include font('proxima_nova__semi_bold');
      color: $color_dark_gray;
    }

    a {
      color: $color_blue;
      text-decoration: underline;
    }

    a:hover,
    a:focus {
      color: $color_dark_blue;
    }

    &.text--blue {
      color: $color_blue;
    }
    &.text--red {
      color: $color_dark_red;
    }
  }

  .flower-spacing-left {
    display: none;
    margin-left: calculateRem(22);
    @include mq(950px) {
      display: block;
      margin-left: calculateRem(130);
    }
  }

  .flower-spacing-right {
    display: none;
    margin-right: calculateRem(22);
    @include mq(950px) {
      display: block;
      margin-right: calculateRem(148);
    }
  }

  .body__form {
    @include padding(small, top);

    .c_form_input.c_form_input--submit {
      margin-bottom: 0;

      .c_form_input-submit {
        @include font('proxima_nova__medium');
      }
    }

    .c_form_input--submit .c_button {
      margin-top: 0;
    }

    .c_form_input.c_form_input--select select {
      width: 100%;
      height: 38px;
    }
  }
}
